<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Manager.Properties.Settings>
            <setting name="domain" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="sqlpassword" serializeAs="String">
                <value>aSxzdi#$150</value>
            </setting>
            <setting name="sqlusername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="sqldatabase" serializeAs="String">
                <value>accounts</value>
            </setting>
        </Manager.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
